#sidebar {
	position: fixed;
	width: 25%;
}

#leaf  {
	width: 192px;
	height: 288px;
}

#main ul a {
	color: #006600;
	text-decoration: none;
}

#main ul {
	list-style-type: none;
}

#main li {
	line-height: 30px;
}

#lockup {
	display: inline-block;
}

h1 {
	font-family: 'Felipa', cursive;
	font-size: 45px;
	color: #006600;
	display: inline-block;
	vertical-align: top;
	text-shadow: 1px 1px 7px #3D3D38;
}

header {
	width: 55%;
	margin-left: 30%;
	
}

#body {
	width: 55%;
	margin-left: 30%;
	text-align: left;
}



#text p {
	text-align: justify;
	margin-right: 200px;
	font-family: Georgia, Times, Serif;
	font-size: 20px;
	line-height: 30px;
	text-indent: 10px;
	color: #3D3D38;
}

#adam {
	width: 240px;
	height: 179px;
	padding-left: 75px;
}

#adam2 {
	width: 310px;
	height: 360px;
}

blockquote {
	font-family: Georgia, Times, Serif;
	width: 180px;
	display: inline-block;
	float: right;
	padding-right: 142px;
	line-height: 30px;
}

a:hover {
	color: #006600;
}  




