/* Layout */



#header h1 {
	font-size: 8rem;
	font-family: 'Love Ya Like A Sister', cursive;
	color: #008000;
}

[class*="col-"] img {
	max-width: 100%;
}

#leaf {
	margin-top: 1rem;
}

.col-md-4 {
	text-align: right;
}

#posts h2 a {
	color: green;
}

@media screen and (max-width: 560px) {
	#col-md-4 {
		text-align: left;
	}
}

#about p {
	font-size: 17px;
}

#nav {
	float: right;
	width: 8em;
	margin: 3em 0 0 0;
	padding: 1em 2em;
	background: #ddd;
	border: 1px solid #ccc;
}

.message {
	color: red;
}

@media screen and (max-width: 768px) {
	#leaf {
		width: 150px;
		height: 72px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	#header h1 {
		font-size: 6.5rem;
		font-family: 'Love Ya Like A Sister', cursive;
		color: #008000;
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	#leaf {
		width: 100px;
		height: 51px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	#header h1 {
		font-size: 5rem;
		font-family: 'Love Ya Like A Sister', cursive;
		color: #008000;
		text-align: center;
	}
}


