#sidebar {
	position: fixed;
	width: 25%; 
}


#leaf  {
	width: 192px;
	height: 288px;
}

#main ul a {
	color: #006600;
	text-decoration: none;
}

#main ul {
	list-style-type: none;
}


#main li {
	line-height: 30px;
}

#dropdown  {
	position: fixed;
	margin-left: 1100px;
	
}

#dropdown ul a {
	text-decoration: none;
}


#lockup {
	display: inline-block;
}

h1 {
	font-family: 'Felipa', cursive;
	font-size: 50px;
	display: block;
	vertical-align: top;
	margin: 0;
	color: #006600;
	text-shadow: 1px 1px 5px #3D3D38;
}

h2 {
	width: 200px;
	margin: 0 0 0 0;
	display: block;
	line-height: 45px;
	color: #3D3D38;
	
}


blockquote {
	width: 197px;
	font-family: Georgia, Times, Serif;
	display: inline-block;
	vertical-align: top;
}

header {
	width: 55%;
	margin-left: 30%;
	
}

#body {
	width: 55%;
	margin-left: 30%;
	clear: both;
}

#text p {
	text-align: justify;
	margin-right: 200px;
	font-family: Georgia, Times, Serif;
	font-size: 20px;
	line-height: 30px;
	text-indent: 10px;
	color: #3D3D38;
}
 
 #tag {
 	color: #006600;
 }

 #tag2 {
 	color: #0000FF;
 }

 a:hover {
 	color: #006600;
 }

 #codehead {
 	text-align: left;
 }


