#sidebar {
	position: fixed;
	width: 25%; 
	margin-left: 8px;
	margin-top: 8px;
}


#leaf  {
	width: 192px;
	height: 288px;
}

#main ul a {
	color: #006600;
	text-decoration: none;
}

#main ul {
	list-style-type: none;
	text-indent: 40px;
	margin-top: 18px;
}


#main li {
	line-height: 30px;
}


#lockup {
	display: inline-block;
}

h1 {
	font-family: 'Felipa', cursive;
	font-size: 50px;
	font-weight: 900;
	display: block;
	vertical-align: top;
	margin: 0;
	margin-top: 15px;
	margin-left: 3px;
	color: #006600;
	text-shadow: 1px 1px 5px #3D3D38;
}

h2 {
	width: 96px;
	margin: 0 0 0 0;
	display: block;
	line-height: 45px;
	color: #3D3D38;
	font-size: 25px;
	font-family: Georgia, Times, Serif;
	margin-left: 2px;
	margin-top: 5px;
	line-height: 45px;
	display: block;
	font-weight: bold;
}


blockquote {
	width: 197px;
	font-family: Georgia, Times, Serif;
	margin-top: 24px;
	margin-left: 40px;
	line-height: 19px;
	font-style: italic;
	display: inline-block;
	vertical-align: top;
}

header {
	width: 55%;
	margin-left: 30%;
	
}

#body {
	width: 55%;
	margin-left: 30%;
	clear: both;
}

#text p {
	text-align: justify;
	margin-right: 200px;
	margin-top: 20px;
	font-family: Georgia, Times, Serif;
	font-size: 22px;
	line-height: 30px;
	text-indent: 10px;
	color: #3D3D38;
}

