/* Layout */



#header h1 {
	font-size: 8rem;
	font-family: 'Love Ya Like A Sister', cursive;
	color: #008000;
}

[class*="col-"] img {
	max-width: 100%;
}

#leaf {
	margin-top: 1rem;
}

#posts h2 a {
	color: green;
}

